[core]
	editor = vim
	autocrlf = input
[user]
	email = dom@dom-armstrong.co.uk
	name = Dom Armstrong
[push]
	default = simple
[color]
	ui = true
[credential]
	helper = cache
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[difftool]
	prompt = false
[alias]
	st = status
	log = log --decorate
	graph = log --decorate --graph --all -n 10
	g = log --decorate --graph --all -n 10
	b = branch
	ci = commit
[branch]
	autosetuprebase = always
[mergetool]
	prompt = false
